{
  "env": {
    "browser": true
  },
  "parser": "babel-eslint",
  "rules": {
    "strict": [2, "global"],
    "semi": 2,
    "arrow-spacing": [1, {"before": true, "after": true}],
    "no-duplicate-imports": 1,
    "constructor-super": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1,
    "prefer-template": 1,
    "no-unused-vars": 1,

    "no-eval": 2,
    "no-useless-call": 2,

    "quotes": [1, "single"],
    "jsx-quotes": 1,

    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "blockBindings": true,
    "classes": true,
    "jsx": true,
    "modules": true,
    "objectLiteralShorthandMethods": true,
    "superInFunctions": true
  },
  "plugins": [
    "react"
  ]
}
